.sidebar{position: fixed;}
.sidebar ul{padding-left: 0}
.sidebar li{list-style: none}

.nicheLink a,.nicheLink:hover a,.sortLink a,.sortLink:hover a{
	display: block;
	color:#999;
	text-decoration: none;
	font-size: 18px;
}

.nicheLink-active a,.nicheLink-active:hover a,.sortLink-active a,.sortLink-active:hover a{
	font-weight: bold;
	color:#333;
}

/*
.niche-zelda .navbar{
	background-color:#2E5822;
	background-size:auto 100%;
}

.niche-zelda .product-bullet-active{
	background-color:#2E5822;
}