body{
	padding-top:80px;
}

.modal-content{
	border-radius: 0;
}
.modal-footer{margin-top: 0}
.modal-content p:last-child{margin-bottom: 0}

.navbar{
	background-color: white;
	box-shadow: 0px 1px 5px #aac261;
}

.navbar-toggle .icon-bar{
	background-color: #aac261
}

.container > .navbar-collapse{
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}
.container > .navbar-collapse .btn{min-width:50%;}


.sidebar-sticky{position: fixed;top:67px;}
.sidebar ul, .nav ul{padding-left: 0}
.sidebar li, .nav li{list-style: none}


.nicheLink a,.nicheLink:hover a,.sortLink a,.sortLink:hover a{
	display: block;
	color:#999;
	text-decoration: none;
	font-size: 16px;
}

.nicheLink-active a,.nicheLink-active:hover a,.sortLink-active a,.sortLink-active:hover a{
	font-weight: bold;
	color:#333;
}

.alert{
	color: #333;
	text-align: center;
}

.banner{
	position: fixed;
	bottom: -40px;left:0;
	width: 100%;
	background-color: white;
	text-align: center;
	padding:8px;
	font-size: 14px;
	background-color:#aac261;
	border-top: 1px solid #333;
	transition:.2s linear bottom;
}
.banner-active{bottom:0px;}
.banner a,.banner a:hover{color:#333;text-decoration: underline;}

/*
.navbar{background-color: #333;padding: 4px 0px;}
.navbar-brand,.navbar-brand:hover{color:white;font-family: 'Black Ops One', sans-serif;}

.nav > li > a:hover, .nav > li > a:focus{
	background-color:transparent;
}
.navbar .navbar-nav > li > a{color:white;}
*/

