body{overflow-y:scroll;}
.products-loading{
	height: 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url('/img/loader.gif');
}
.products-loading .product{visibility: hidden;}
.product{
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}
.product-highlighted{
	box-shadow:0px 0px 8px rgba(0,0,0,.2);
	border-radius: 4px;
}
.product-header{
	width:100%;
	z-index: 100;
	padding:4px 0;
	text-align: center;
}
.product-footer{padding:10px;text-align: center}
.product-images{
	overflow-y:hidden;
	overflow-x:hidden;
	white-space: nowrap;
	font-size: 0;
	
}
.product-image{
	display: inline-block;
	padding-bottom: 100%;
	width:100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url('/img/loader.gif');
	margin-right: 5px;
}
.product-image-loaded{
	background-size: auto 100%;
}
.product-bullets{
	text-align: center;
	position: absolute;
	width:100%;
	bottom: 10px;
}
.product-display{position: relative;}
.product-bullet{
	cursor: pointer;
	background-color: #ccc;
	font-size:20px;
	height:1em;width:1em;
	border-radius:.5em; 
	display: inline-block;
	border:2px solid white;
	opacity: .7;
}
.product-bullet-active{
	background-color:#aac261;
	opacity: 1;
}
.product-title{font-weight: bold;font-size: 16px;}
.product-buttons{
	opacity: 0;
	-webkit-transition:opacity .2s linear;
	text-align: justify;
}
.touch .product-buttons,.product-highlighted .product-buttons{opacity:1;}
.product-buttons-hack{
	display: inline-block;
	width:100%;
}
.product:hover .product-buttons{opacity:1;}
.product-buttons .btn-group{width:100%;}
.product-buttons .btn{
	width:22%;
}
.product-button-want-active,.product-button-want-active:hover{color:#891A04;}

/*
.product-button-reddit,.product-button-reddit:hover{background-color:#3F96F3;font-weight: bold}
.product-button-want,.product-button-want:hover{ background-color:#EEE;color:#666;}
.product-button-want-active,.product-button-want-active:hover{color:#891A04;}
.product-button-shop,.product-button-shop:hover{ background-color:#F3723F;}
*/